<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcdz.slser.service.dao.yuyue.YuyueDao">

    <!-- 查询预约科室列表 -->
    <select id="getKs" resultType="map">
        select * from v_mz_ks
    </select>

    <!--查询预约医生列表-->
    <select id="getDoc" resultType="map" parameterType="map">
        select * from v_mz_doc where KSCODE = #{KSCODE}
        <if test="STARTDATE != null">
            and trunc(HYDATE) >= to_date(#STARTDATE#,'yyyy-mm-dd')
        </if>
        <if test="ENDDATE != null">
            and trunc(HYDATE) >= to_date(#ENDDATE#,'yyyy-mm-dd')
        </if>
    </select>

    <!--查询医生排班信息-->
    <select id="getDocPb" resultType="map" parameterType="map">
       select * from v_mz_yypb t where DOCCODE = #{DOCCODE}
       and HYDATE = #{HYDATE}
       order by t.billdate desc
    </select>


    <!--查询我的预约信息-->
    <select id="getYuyue" resultType="map" parameterType="map">
       select * from v_mz_getyue t where CARDNO = #{CARDNO}
       order by t.SUBTIME desc
    </select>

</mapper>