<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcdz.slser.service.dao.yuyue.YuyueDao">

    <!-- 查询预约科室列表 -->
    <select id="getKs" resultType="map">
        select * from v_mz_ks
    </select>

    <!--查询预约医生列表-->
    <select id="getDoc" resultType="map" parameterType="map">
        select * from v_mz_doc where KSCODE = #{KSCODE}
        <if test="STARTDATE != null">
            and trunc(HYDATE) >= to_date(#STARTDATE#,'yyyy-mm-dd')
        </if>
        <if test="ENDDATE != null">
            and trunc(HYDATE) >= to_date(#ENDDATE#,'yyyy-mm-dd')
        </if>
    </select>

    <!--查询医生排班信息-->
    <select id="getDocPb" resultType="map" parameterType="map">
       select * from v_mz_yypb t where DOCCODE = #{DOCCODE}
       and HYDATE = #{HYDATE}
       order by t.billdate desc
    </select>


    <!--查询我的预约信息-->
    <select id="getYuyue" resultType="map" parameterType="map">
       select * from v_mz_getyue t where CARDNO = #{CARDNO}
       order by t.SUBTIME desc
    </select>



    <parameterMap id="yueMap" type="map">
        <parameter property="CARDNO" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="KSCODE" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="DOCCODE" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="HYDATE" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="HYTIME" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="RETURNCODE" mode="OUT" jdbcType="VARCHAR"/>
        <parameter property="RETURNMSG" mode="OUT" jdbcType="VARCHAR"/>
        <parameter property="YUENO" mode="OUT" jdbcType="VARCHAR"/>
    </parameterMap>

    <!-- 预约生成信息 -->
    <select id="addYuyue" statementType="CALLABLE" parameterMap="yueMap">
		{call PROCE_MZ_YUE(
			#{CARDNO,mode=IN,jdbcType=VARCHAR},
			#{KSCODE,mode=IN,jdbcType=VARCHAR},
			#{DOCCODE,mode=IN,jdbcType=VARCHAR},
			#{HYDATE,mode=IN,jdbcType=VARCHAR},
			#{HYTIME,mode=IN,jdbcType=VARCHAR},
			#{RETURNCODE,mode=OUT,jdbcType=VARCHAR},
			#{RETURNMSG,mode=OUT,jdbcType=VARCHAR},
			#{YUENO,mode=OUT,jdbcType=VARCHAR}
		)}
	</select>


    <parameterMap id="deyueMap" type="map">
        <parameter property="YUENO" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="RETURNCODE" mode="OUT" jdbcType="VARCHAR"/>
        <parameter property="RETURNMSG" mode="OUT" jdbcType="VARCHAR"/>
    </parameterMap>

    <!-- 取消预约 -->
    <select id="deYuyue" statementType="CALLABLE" parameterMap="deyueMap">
		{call PROCE_MZ_CALYY(
			#{YUENO,mode=IN,jdbcType=VARCHAR},
			#{RETURNCODE,mode=OUT,jdbcType=VARCHAR},
			#{RETURNMSG,mode=OUT,jdbcType=VARCHAR}
		)}
	</select>

</mapper>