<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcdz.slser.service.dao.guahao.GuahaoDao">

    <!-- 查询预约科室列表 -->
    <select id="getKs" resultType="map">
        select * from v_mz_ghks
    </select>

    <!--查询预约医生列表 -->
    <select id="getDoc" resultType="map" parameterType="map">
        select t.*,to_char(t.HYDATE,'yyyy-mm-dd') as HYDATEFORMAT from v_mz_ghdoc t where t.KSCODE = #{KSCODE}
        and trunc(HYDATE) = to_date(#{HYDATE},'yyyy-mm-dd')
    </select>

    <!--查询医生排班信息-->
    <select id="getDocPb" resultType="map" parameterType="map">
        select * from v_mz_ghpb t where YHDATE = #{HYDATE} and ID = #{DOCCODE}
        order by t.yhtime
    </select>

    <!--查询我的挂号信息-->
    <select id="getGuahao" resultType="map" parameterType="map">
       select * from v_mz_getgh t where CARDNO = #{CARDNO}
       order by t.SUBTIME desc
    </select>


    <parameterMap id="guaMap" type="map">
        <parameter property="CARDNO" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="KSCODE" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="DOCCODE" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="HYDATE" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="HYTIME" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="GHFEE" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="ORDERNO" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="PAYTYPE" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="RETURNCODE" mode="OUT" jdbcType="VARCHAR"/>
        <parameter property="RETURNMSG" mode="OUT" jdbcType="VARCHAR"/>
        <parameter property="GHNO" mode="OUT" jdbcType="VARCHAR"/>
    </parameterMap>

    <!-- 挂号生成信息 -->
    <select id="addGuahao" statementType="CALLABLE" parameterMap="guaMap">
		{call PROCE_MZ_GH(
			#{CARDNO,mode=IN,jdbcType=VARCHAR},
			#{KSCODE,mode=IN,jdbcType=VARCHAR},
			#{DOCCODE,mode=IN,jdbcType=VARCHAR},
			#{HYDATE,mode=IN,jdbcType=VARCHAR},
			#{HYTIME,mode=IN,jdbcType=VARCHAR},
			#{GHFEE,mode=IN,jdbcType=VARCHAR},
			#{ORDERNO,mode=IN,jdbcType=VARCHAR},
			#{PAYTYPE,mode=IN,jdbcType=VARCHAR},
			#{RETURNCODE,mode=OUT,jdbcType=VARCHAR},
			#{RETURNMSG,mode=OUT,jdbcType=VARCHAR},
			#{GHNO,mode=OUT,jdbcType=VARCHAR}
		)}
	</select>


    <parameterMap id="deguaMap" type="map">
        <parameter property="GHNO" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="RETURNCODE" mode="OUT" jdbcType="VARCHAR"/>
        <parameter property="RETURNMSG" mode="OUT" jdbcType="VARCHAR"/>
    </parameterMap>

    <!-- 取消挂号 -->
    <select id="deGuahao" statementType="CALLABLE" parameterMap="deguaMap">
		{call PROCE_MZ_CALGH(
			#{GHNO,mode=IN,jdbcType=VARCHAR},
			#{RETURNCODE,mode=OUT,jdbcType=VARCHAR},
			#{RETURNMSG,mode=OUT,jdbcType=VARCHAR}
		)}
	</select>


</mapper>