<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcdz.slser.service.dao.card.CardDao">

    <!-- 查询院内卡

      <if test="PHONE != null">
                and PHONE = #{PHONE}
            </if>

     -->
    <select id="getCards" resultType="map" parameterType="map">
        select * from v_mz_cards
        <where>
            <if test="NAME != null">
                and NAME = #{NAME}
            </if>
            <if test="IDNO != null">
                and IDNO = #{IDNO}
            </if>

        </where>
    </select>

    <!--查询卡上余额-->
    <select id="getCharge" resultType="map" parameterType="string">
        select * from v_mz_charge where CARDNO = #{CARDNO}
    </select>

    <!--查询卡账单-->
    <select id="getBill" resultType="map" parameterType="string">
       select t.* , to_char(t.billdate,'yyyy-mm-dd hh24:mi:ss') as BILLDATEFORMAT from v_mz_bill t where CARDNO = #{CARDNO} order by t.billdate desc
    </select>


    <parameterMap id="addMap" type="map">
        <parameter property="NAME" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="IDNO" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="PHONE" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="BIRTH" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="SEX" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="ADDRESS" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="RETURNCODE" mode="OUT" jdbcType="VARCHAR"/>
        <parameter property="RETURNMSG" mode="OUT" jdbcType="VARCHAR"/>
        <parameter property="CARDNO" mode="OUT" jdbcType="VARCHAR"/>
    </parameterMap>


    <!-- 创建就诊卡-->
    <select id="addCard" statementType="CALLABLE" parameterMap="addMap">
		{call PROCE_MZ_CREATE(
			#{NAME,mode=IN,jdbcType=VARCHAR},
			#{IDNO,mode=IN,jdbcType=VARCHAR},
			#{PHONE,mode=IN,jdbcType=VARCHAR},
			#{BIRTH,mode=IN,jdbcType=VARCHAR},
			#{SEX,mode=IN,jdbcType=VARCHAR},
			#{ADDRESS,mode=IN,jdbcType=VARCHAR},
			#{RETURNCODE,mode=OUT,jdbcType=VARCHAR},
			#{RETURNMSG,mode=OUT,jdbcType=VARCHAR},
			#{CARDNO,mode=OUT,jdbcType=VARCHAR}
		)}
	</select>


    <parameterMap id="chargeMap" type="map">
        <parameter property="CARDNO" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="TOTALFEE" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="ORDERNO" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="PAYTYPE" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="RETURNCODE" mode="OUT" jdbcType="VARCHAR"/>
        <parameter property="RETURNMSG" mode="OUT" jdbcType="VARCHAR"/>
        <parameter property="MONEY" mode="OUT" jdbcType="VARCHAR"/>
    </parameterMap>

    <!-- 充值就诊卡-->
    <select id="chargeCard" statementType="CALLABLE" parameterMap="chargeMap">
		{call PROCE_MZ_CHARGE(
			#{CARDNO,mode=IN,jdbcType=VARCHAR},
			#{TOTALFEE,mode=IN,jdbcType=VARCHAR},
			#{ORDERNO,mode=IN,jdbcType=VARCHAR},
			#{PAYTYPE,mode=IN,jdbcType=VARCHAR},
			#{RETURNCODE,mode=OUT,jdbcType=VARCHAR},
			#{RETURNMSG,mode=OUT,jdbcType=VARCHAR},
			#{MONEY,mode=OUT,jdbcType=VARCHAR}
		)}
	</select>



</mapper>