<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcdz.slser.service.dao.dzph.DzphDao">

    <parameterMap id="addMap" type="map">
        <parameter property="XM" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="CARDNO" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="RETURNCODE" mode="OUT" jdbcType="VARCHAR"/>
        <parameter property="RETURNMSG" mode="OUT" jdbcType="VARCHAR"/>
        <parameter property="KSNAME" mode="OUT" jdbcType="VARCHAR"/>
        <parameter property="CH" mode="OUT" jdbcType="VARCHAR"/>
    </parameterMap>

    <!-- 电子陪护证验证-->
    <select id="dzphCheck" statementType="CALLABLE" parameterMap="addMap">
		{call PROCE_DZPHZ_DJ(
			#{XM,mode=IN,jdbcType=VARCHAR},
			#{CARDNO,mode=IN,jdbcType=VARCHAR},
			#{RETURNCODE,mode=OUT,jdbcType=VARCHAR},
			#{RETURNMSG,mode=OUT,jdbcType=VARCHAR},
			#{KSNAME,mode=OUT,jdbcType=VARCHAR},
			#{CH,mode=OUT,jdbcType=VARCHAR}
		)}
	</select>

</mapper>